# Code for accessing the Zillow API

This is a messy file for cleaning and merging the Zillow/ACS data. You don't need to do anything with it; it's just included here in case you want to see how the data were cleaned and merged.

Pyzillow Documentation
https://pypi.org/project/pyzillow/

In [1]:
import pandas as pd
import pyzillow
from pyzillow.pyzillow import ZillowWrapper, GetDeepSearchResults, GetUpdatedPropertyDetails
# from kaggle_secret import secret_key as secret_key

In [2]:
secret_key = 'YOUR KEY HERE'

In [3]:
address = '1906 Longshore Drive'
zipcode = '48104'
zillow_data = ZillowWrapper(secret_key)
deep_search_response = zillow_data.get_deep_search_results(address, zipcode)
result = GetDeepSearchResults(deep_search_response)

In [4]:
zillow_id = result.zillow_id
zillow_id

'24697945'

In [5]:
zestimate = result.zestimate_amount
zestimate

'625794'

In [6]:
percentile = result.zestimate_percentile
percentile

'0'

In [7]:
# # Available attributes:
# zillow_id
# home_type
# home_detail_link
# graph_data_link
# map_this_home_link
# latitude
# latitude
# coordinates
# tax_year
# tax_value
# year_built
# property_size
# home_size
# bathrooms
# bedrooms
# last_sold_date
# last_sold_price_currency
# last_sold_price
# zestimate_amount
# zestimate_last_updated
# zestimate_value_change
# zestimate_valuation_range_high
# zestimate_valuationRange_low
# zestimate_percentile

Updated property details search using zillow_id obtained above.

In [8]:
zillow_id

'24697945'

In [9]:
zillow_data = ZillowWrapper(secret_key)
updated_property_details_response = zillow_data.get_updated_property_details(zillow_id)
result = GetUpdatedPropertyDetails(updated_property_details_response)

In [10]:
result.neighborhood #appears to be empty

# Zillow Economic Data (Kaggle)

HUD USDS Crosswalk Files 

https://www.huduser.gov/portal/datasets/usps_crosswalk.html

Map zip codes onto census tract data

CBSA Files
https://www.census.gov/programs-surveys/metro-micro/about/delineation-files.html

### Zip Code Time Series

In [11]:
try:
    cleaned_zip_df = pd.read_csv('zecon/cleaned_Zip_time_series.csv')
except:
    zip_df = pd.read_csv('zecon/Zip_time_series.csv', low_memory=False)
    cleaned_zip_df = zip_df[['Date', 'RegionName', 'ZHVIPerSqft_AllHomes', 'ZHVI_1bedroom', 'ZHVI_2bedroom',
    'ZHVI_3bedroom', 'ZHVI_4bedroom', 'ZHVI_5BedroomOrMore',
    'ZHVI_AllHomes', 'ZHVI_BottomTier', 'ZHVI_CondoCoop', 'ZHVI_MiddleTier',
    'ZHVI_SingleFamilyResidence', 'ZHVI_TopTier', 'ZRI_AllHomes']]
    cleaned_zip_df.to_csv('zecon/cleaned_Zip_time_series.csv', index=False)

In [12]:
cleaned_zip_df.shape

(4383885, 15)

In [13]:
cleaned_zip_df.columns

Index(['Date', 'RegionName', 'ZHVIPerSqft_AllHomes', 'ZHVI_1bedroom',
       'ZHVI_2bedroom', 'ZHVI_3bedroom', 'ZHVI_4bedroom',
       'ZHVI_5BedroomOrMore', 'ZHVI_AllHomes', 'ZHVI_BottomTier',
       'ZHVI_CondoCoop', 'ZHVI_MiddleTier', 'ZHVI_SingleFamilyResidence',
       'ZHVI_TopTier', 'ZRI_AllHomes'],
      dtype='object')

In [14]:
# ZHVI = median adjusted home value
# ZRI = median rent (but does not appear to be consistently available)

In [15]:
cleaned_zip_df.head()

,Date,RegionName,ZHVIPerSqft_AllHomes,ZHVI_1bedroom,ZHVI_2bedroom,ZHVI_3bedroom,ZHVI_4bedroom,ZHVI_5BedroomOrMore,ZHVI_AllHomes,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes
0,1996-04-30,1001,71.0,35800.0,82100.0,107600.0,114600.0,127300.0,101900.0,68700.0,67000.0,101900.0,107000.0,124800.0,NaN
1,1996-04-30,1002,84.0,71700.0,87400.0,123300.0,171500.0,NaN,135200.0,97000.0,81300.0,135200.0,145800.0,213600.0,NaN
2,1996-04-30,1005,68.0,NaN,87700.0,100600.0,117200.0,NaN,101200.0,85400.0,NaN,101200.0,101200.0,125700.0,NaN
3,1996-04-30,1007,68.0,NaN,96900.0,125100.0,148200.0,NaN,124000.0,97900.0,87600.0,124000.0,125000.0,162100.0,NaN
4,1996-04-30,1008,68.0,NaN,90700.0,109900.0,128400.0,NaN,109300.0,81100.0,NaN,109300.0,109300.0,148100.0,NaN

In [16]:
len(cleaned_zip_df['RegionName'].unique())

19106

In [17]:
a2_test_df = cleaned_zip_df[cleaned_zip_df['RegionName']==48104]

In [18]:
a2_test_df.head()

,Date,RegionName,ZHVIPerSqft_AllHomes,ZHVI_1bedroom,ZHVI_2bedroom,ZHVI_3bedroom,ZHVI_4bedroom,ZHVI_5BedroomOrMore,ZHVI_AllHomes,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes
7893,1996-04-30,48104,102.0,91400.0,101200.0,140800.0,213000.0,222400.0,151900.0,94600.0,90400.0,151900.0,168400.0,269800.0,NaN
21532,1996-05-31,48104,102.0,88000.0,102900.0,143300.0,215100.0,222400.0,153200.0,95300.0,87700.0,153200.0,169500.0,274200.0,NaN
35319,1996-06-30,48104,103.0,83900.0,102200.0,145600.0,217600.0,224400.0,154700.0,94600.0,85700.0,154700.0,171500.0,279000.0,NaN
49136,1996-07-31,48104,103.0,80600.0,101200.0,147400.0,219100.0,226200.0,155700.0,93700.0,85100.0,155700.0,173500.0,280300.0,NaN
62962,1996-08-31,48104,104.0,80400.0,100500.0,148800.0,221000.0,228500.0,156700.0,93800.0,85100.0,156700.0,175100.0,280800.0,NaN

### Neighborhood Time Series

In [19]:
# neighborhood_df = pd.read_csv('zecon/Neighborhood_time_series.csv', low_memory=False)

In [20]:
# cleaned_neighborhood_df = neighborhood_df[['Date', 'RegionName', 'ZHVIPerSqft_AllHomes', 'ZHVI_1bedroom', 'ZHVI_2bedroom',
#        'ZHVI_3bedroom', 'ZHVI_4bedroom', 'ZHVI_5BedroomOrMore',
#        'ZHVI_AllHomes', 'ZHVI_BottomTier', 'ZHVI_CondoCoop', 'ZHVI_MiddleTier',
#        'ZHVI_SingleFamilyResidence', 'ZHVI_TopTier', 'ZRI_AllHomes']]

In [21]:
# cleaned_neighborhood_df.shape

In [22]:
# cleaned_neighborhood_df.head()

### Metro Time Series

In [23]:
try:
    cleaned_metro_df = pd.read_csv('zecon/cleaned_Metro_time_series.csv')
except:
    metro_df = pd.read_csv('zecon/Metro_time_series.csv', low_memory=False)
    cleaned_metro_df = metro_df[['Date', 'RegionName', 'ZHVIPerSqft_AllHomes', 'ZHVI_1bedroom', 'ZHVI_2bedroom',
    'ZHVI_3bedroom', 'ZHVI_4bedroom', 'ZHVI_5BedroomOrMore',
    'ZHVI_AllHomes', 'ZHVI_BottomTier', 'ZHVI_CondoCoop', 'ZHVI_MiddleTier',
    'ZHVI_SingleFamilyResidence', 'ZHVI_TopTier', 'ZRI_AllHomes']]
    cleaned_metro_df.to_csv('zecon/cleaned_Metro_time_series.csv', index=False)

In [24]:
cleaned_metro_df.shape

(211182, 15)

In [25]:
cleaned_metro_df.head()

,Date,RegionName,ZHVIPerSqft_AllHomes,ZHVI_1bedroom,ZHVI_2bedroom,ZHVI_3bedroom,ZHVI_4bedroom,ZHVI_5BedroomOrMore,ZHVI_AllHomes,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes
0,1996-04-30,10180,NaN,NaN,NaN,66600.0,113200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1996-04-30,10220,21.0,NaN,19700.0,NaN,NaN,NaN,28600.0,NaN,NaN,28600.0,28600.0,NaN,NaN
2,1996-04-30,10300,61.0,71600.0,71000.0,89000.0,96300.0,111600.0,78500.0,53000.0,NaN,78500.0,78600.0,124800.0,NaN
3,1996-04-30,10420,66.0,54000.0,67300.0,92300.0,164100.0,160000.0,95700.0,54900.0,109000.0,95700.0,94400.0,169400.0,NaN
4,1996-04-30,10500,41.0,NaN,NaN,65000.0,116100.0,194500.0,67600.0,NaN,NaN,67600.0,67500.0,112400.0,NaN

### Crosswalk Files

In [26]:
cross1_df = pd.read_csv('geo_crosswalk/list1_Sep_2018 - List 1.csv')

In [27]:
cross1_df.head()

,CBSA Code,Metropolitan Division Code,CSA Code,CBSA Title,Metropolitan/Micropolitan Statistical Area,Metropolitan Division Title,CSA Title,County/County Equivalent,State Name,FIPS State Code,FIPS County Code,Central/Outlying County
0,10100,NaN,NaN,"Aberdeen, SD",Micropolitan Statistical Area,NaN,NaN,Brown County,South Dakota,46.0,13.0,Central
1,10100,NaN,NaN,"Aberdeen, SD",Micropolitan Statistical Area,NaN,NaN,Edmunds County,South Dakota,46.0,45.0,Outlying
2,10140,NaN,NaN,"Aberdeen, WA",Micropolitan Statistical Area,NaN,NaN,Grays Harbor County,Washington,53.0,27.0,Central
3,10180,NaN,NaN,"Abilene, TX",Metropolitan Statistical Area,NaN,NaN,Callahan County,Texas,48.0,59.0,Outlying
4,10180,NaN,NaN,"Abilene, TX",Metropolitan Statistical Area,NaN,NaN,Jones County,Texas,48.0,253.0,Outlying

In [28]:
cross2_df = pd.read_csv('geo_crosswalk/list2_Sep_2018 - List 2.csv')

In [29]:
cross2_df.head()

,CBSA Code,CBSA Title,Metropolitan/Micropolitan Statistical Area,Principal City Name,FIPS State Code,FIPS Place Code
0,10100,"Aberdeen, SD",Micropolitan Statistical Area,Aberdeen,46.0,100.0
1,10140,"Aberdeen, WA",Micropolitan Statistical Area,Aberdeen,53.0,100.0
2,10180,"Abilene, TX",Metropolitan Statistical Area,Abilene,48.0,1000.0
3,10220,"Ada, OK",Micropolitan Statistical Area,Ada,40.0,200.0
4,10300,"Adrian, MI",Micropolitan Statistical Area,Adrian,26.0,440.0

In [30]:
zip_cbsa_df = pd.read_csv('geo_crosswalk/ZIP_CBSA_122018 - Sheet1.csv')

In [31]:
zip_cbsa_df.head()

   zip   cbsa  res_ratio  bus_ratio  oth_ratio  tot_ratio
0  612  11640   0.996227   0.999185    0.99679   0.996518
1  627  11640   1.000000   1.000000    1.00000   1.000000
2  638  41980   1.000000   1.000000    1.00000   1.000000
3  676  10380   1.000000   1.000000    1.00000   1.000000
4  719  41980   1.000000   1.000000    1.00000   1.000000

In [32]:
# date, zip code, zip median, cbsa code, cbsa title, cbsa median, cbsa lower third, cbsa

### Merge zip codes with CBSA codes and metro status

In [33]:
cross1_df = cross1_df.drop([1915, 1916, 1917, 1918])

In [34]:
cross1_df['CBSA Code'] = cross1_df['CBSA Code'].astype(int)

In [35]:
cleaned_metro_df = cleaned_metro_df[cleaned_metro_df['RegionName']!='United_States']

In [36]:
cleaned_metro_df['RegionName'] = cleaned_metro_df['RegionName'].astype(float)

In [37]:
cross2_df.tail()

,CBSA Code,CBSA Title,Metropolitan/Micropolitan Statistical Area,Principal City Name,FIPS State Code,FIPS Place Code
1267,49820,"Zapata, TX",Micropolitan Statistical Area,Zapata,48.0,80716.0
1268,NaN,NaN,NaN,NaN,NaN,NaN
1269,Note: The 2010 OMB Standards for Delineating M...,NaN,NaN,NaN,NaN,NaN
1270,"Source: File prepared by U.S. Census Bureau, P...",NaN,NaN,NaN,NaN,NaN
1271,Internet Release Date: October 2018,NaN,NaN,NaN,NaN,NaN

In [38]:
cross2_df = cross2_df.drop([1268, 1269, 1270, 1271])

In [39]:
cross2_df['CBSA Code'] = cross2_df['CBSA Code'].astype(int)

In [40]:
merged_zip_df = cleaned_zip_df[['Date', 'RegionName', 'ZHVI_BottomTier', 'ZHVI_MiddleTier']].merge(zip_cbsa_df[['zip', 'cbsa']],
                                how='left', left_on='RegionName', right_on='zip').drop(columns='zip').merge(cleaned_metro_df[['RegionName', 'ZHVI_BottomTier', 'ZHVI_MiddleTier', 'Date']],
                                how='left', left_on=['cbsa', 'Date'], right_on=['RegionName', 'Date'], suffixes=('_zip', '_metro')).merge(cross2_df[['CBSA Code', 'Metropolitan/Micropolitan Statistical Area',
                                                                                                                                                    'Principal City Name', 'CBSA Title']], how='left', left_on='cbsa', right_on='CBSA Code')

In [41]:
merged_zip_df.shape

(16239503, 12)

In [42]:
merged_zip_df.head()

,Date,RegionName_zip,ZHVI_BottomTier_zip,ZHVI_MiddleTier_zip,cbsa,RegionName_metro,ZHVI_BottomTier_metro,ZHVI_MiddleTier_metro,CBSA Code,Metropolitan/Micropolitan Statistical Area,Principal City Name,CBSA Title
0,1996-04-30,1001,68700.0,101900.0,44140.0,44140.0,70600.0,101500.0,44140.0,Metropolitan Statistical Area,Springfield,"Springfield, MA"
1,1996-04-30,1002,97000.0,135200.0,44140.0,44140.0,70600.0,101500.0,44140.0,Metropolitan Statistical Area,Springfield,"Springfield, MA"
2,1996-04-30,1002,97000.0,135200.0,24640.0,24640.0,71300.0,98200.0,NaN,NaN,NaN,NaN
3,1996-04-30,1005,85400.0,101200.0,49340.0,49340.0,80000.0,112100.0,49340.0,Metropolitan Statistical Area,Worcester,"Worcester, MA-CT"
4,1996-04-30,1007,97900.0,124000.0,44140.0,44140.0,70600.0,101500.0,44140.0,Metropolitan Statistical Area,Springfield,"Springfield, MA"

In [44]:
merged_zip_df['eligible_gentrification'] = merged_zip_df['eligible_gentrification'].where(merged_zip_df['ZHVI_MiddleTier_zip']>merged_zip_df['ZHVI_MiddleTier_metro'], 1)

In [45]:
merged_zip_df.head()

,Date,RegionName_zip,ZHVI_BottomTier_zip,ZHVI_MiddleTier_zip,cbsa,RegionName_metro,ZHVI_BottomTier_metro,ZHVI_MiddleTier_metro,CBSA Code,Metropolitan/Micropolitan Statistical Area,Principal City Name,CBSA Title,eligible_gentrification
0,1996-04-30,1001,68700.0,101900.0,44140.0,44140.0,70600.0,101500.0,44140.0,Metropolitan Statistical Area,Springfield,"Springfield, MA",0
1,1996-04-30,1002,97000.0,135200.0,44140.0,44140.0,70600.0,101500.0,44140.0,Metropolitan Statistical Area,Springfield,"Springfield, MA",0
2,1996-04-30,1002,97000.0,135200.0,24640.0,24640.0,71300.0,98200.0,NaN,NaN,NaN,NaN,0
3,1996-04-30,1005,85400.0,101200.0,49340.0,49340.0,80000.0,112100.0,49340.0,Metropolitan Statistical Area,Worcester,"Worcester, MA-CT",1
4,1996-04-30,1007,97900.0,124000.0,44140.0,44140.0,70600.0,101500.0,44140.0,Metropolitan Statistical Area,Springfield,"Springfield, MA",0

In [46]:
merged_zip_df[merged_zip_df['RegionName_zip']==20001]

,Date,RegionName_zip,ZHVI_BottomTier_zip,ZHVI_MiddleTier_zip,cbsa,RegionName_metro,ZHVI_BottomTier_metro,ZHVI_MiddleTier_metro,CBSA Code,Metropolitan/Micropolitan Statistical Area,Principal City Name,CBSA Title,eligible_gentrification
1478651,1998-06-30,20001,92600.0,NaN,47900.0,47900.0,100100.0,155800.0,47900.0,Metropolitan Statistical Area,Washington,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1478652,1998-06-30,20001,92600.0,NaN,47900.0,47900.0,100100.0,155800.0,47900.0,Metropolitan Statistical Area,Bethesda,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1478653,1998-06-30,20001,92600.0,NaN,47900.0,47900.0,100100.0,155800.0,47900.0,Metropolitan Statistical Area,Frederick,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1478654,1998-06-30,20001,92600.0,NaN,47900.0,47900.0,100100.0,155800.0,47900.0,Metropolitan Statistical Area,Gaithersburg,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1478655,1998-06-30,20001,92600.0,NaN,47900.0,47900.0,100100.0,155800.0,47900.0,Metropolitan Statistical Area,Rockville,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1478656,1998-06-30,20001,92600.0,NaN,47900.0,47900.0,100100.0,155800.0,47900.0,Metropolitan Statistical Area,Alexandria,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1478657,1998-06-30,20001,92600.0,NaN,47900.0,47900.0,100100.0,155800.0,47900.0,Metropolitan Statistical Area,Arlington,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1478658,1998-06-30,20001,92600.0,NaN,47900.0,47900.0,100100.0,155800.0,47900.0,Metropolitan Statistical Area,Reston,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1537539,1998-07-31,20001,93400.0,NaN,47900.0,47900.0,100100.0,155900.0,47900.0,Metropolitan Statistical Area,Washington,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1537540,1998-07-31,20001,93400.0,NaN,47900.0,47900.0,100100.0,155900.0,47900.0,Metropolitan Statistical Area,Bethesda,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1537541,1998-07-31,20001,93400.0,NaN,47900.0,47900.0,100100.0,155900.0,47900.0,Metropolitan Statistical Area,Frederick,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1537542,1998-07-31,20001,93400.0,NaN,47900.0,47900.0,100100.0,155900.0,47900.0,Metropolitan Statistical Area,Gaithersburg,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1537543,1998-07-31,20001,93400.0,NaN,47900.0,47900.0,100100.0,155900.0,47900.0,Metropolitan Statistical Area,Rockville,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1537544,1998-07-31,20001,93400.0,NaN,47900.0,47900.0,100100.0,155900.0,47900.0,Metropolitan Statistical Area,Alexandria,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1537545,1998-07-31,20001,93400.0,NaN,47900.0,47900.0,100100.0,155900.0,47900.0,Metropolitan Statistical Area,Arlington,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1537546,1998-07-31,20001,93400.0,NaN,47900.0,47900.0,100100.0,155900.0,47900.0,Metropolitan Statistical Area,Reston,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1596433,1998-08-31,20001,92700.0,NaN,47900.0,47900.0,100100.0,156000.0,47900.0,Metropolitan Statistical Area,Washington,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1596434,1998-08-31,20001,92700.0,NaN,47900.0,47900.0,100100.0,156000.0,47900.0,Metropolitan Statistical Area,Bethesda,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1596435,1998-08-31,20001,92700.0,NaN,47900.0,47900.0,100100.0,156000.0,47900.0,Metropolitan Statistical Area,Frederick,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1596436,1998-08-31,20001,92700.0,NaN,47900.0,47900.0,100100.0,156000.0,47900.0,Metropolitan Statistical Area,Gaithersburg,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1596437,1998-08-31,20001,92700.0,NaN,47900.0,47900.0,100100.0,156000.0,47900.0,Metropolitan Statistical Area,Rockville,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1596438,1998-08-31,20001,92700.0,NaN,47900.0,47900.0,100100.0,156000.0,47900.0,Metropolitan Statistical Area,Alexandria,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1596439,1998-08-31,20001,92700.0,NaN,47900.0,47900.0,100100.0,156000.0,47900.0,Metropolitan Statistical Area,Arlington,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1596440,1998-08-31,20001,92700.0,NaN,47900.0,47900.0,100100.0,156000.0,47900.0,Metropolitan Statistical Area,Reston,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1655445,1998-09-30,20001,92800.0,NaN,47900.0,47900.0,100300.0,156100.0,47900.0,Metropolitan Statistical Area,Washington,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1655446,1998-09-30,20001,92800.0,NaN,47900.0,47900.0,100300.0,156100.0,47900.0,Metropolitan Statistical Area,Bethesda,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1655447,1998-09-30,20001,92800.0,NaN,47900.0,47900.0,100300.0,156100.0,47900.0,Metropolitan Statistical Area,Frederick,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1655448,1998-09-30,20001,92800.0,NaN,47900.0,47900.0,100300.0,156100.0,47900.0,Metropolitan Statistical Area,Gaithersburg,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1655449,1998-09-30,20001,92800.0,NaN,47900.0,47900.0,100300.0,156100.0,47900.0,Metropolitan Statistical Area,Rockville,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
1655450,1998-09-30,20001,92800.0,NaN,47900.0,47900.0,100300.0,156100.0,47900.0,Metropolitan Statistical Area,Alexandria,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15983888,2017-09-30,20001,448400.0,633600.0,47900.0,47900.0,236900.0,384800.0,47900.0,Metropolitan Statistical Area,Frederick,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
15983889,2017-09-30,20001,448400.0,633600.0,47900.0,47900.0,236900.0,384800.0,47900.0,Metropolitan Statistical Area,Gaithersburg,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
15983890,2017-09-30,20001,448400.0,633600.0,47900.0,47900.0,236900.0,384800.0,47900.0,Metropolitan Statistical Area,Rockville,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
15983891,2017-09-30,20001,448400.0,633600.0,47900.0,47900.0,236900.0,384800.0,47900.0,Metropolitan Statistical Area,Alexandria,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
15983892,2017-09-30,20001,448400.0,633600.0,47900.0,47900.0,236900.0,384800.0,47900.0,Metropolitan Statistical Area,Arlington,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
15983893,2017-09-30,20001,448400.0,633600.0,47900.0,47900.0,236900.0,384800.0,47900.0,Metropolitan Statistical Area,Reston,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16050975,2017-10-31,20001,448100.0,632800.0,47900.0,47900.0,237600.0,385400.0,47900.0,Metropolitan Statistical Area,Washington,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16050976,2017-10-31,20001,448100.0,632800.0,47900.0,47900.0,237600.0,385400.0,47900.0,Metropolitan Statistical Area,Bethesda,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16050977,2017-10-31,20001,448100.0,632800.0,47900.0,47900.0,237600.0,385400.0,47900.0,Metropolitan Statistical Area,Frederick,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16050978,2017-10-31,20001,448100.0,632800.0,47900.0,47900.0,237600.0,385400.0,47900.0,Metropolitan Statistical Area,Gaithersburg,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16050979,2017-10-31,20001,448100.0,632800.0,47900.0,47900.0,237600.0,385400.0,47900.0,Metropolitan Statistical Area,Rockville,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16050980,2017-10-31,20001,448100.0,632800.0,47900.0,47900.0,237600.0,385400.0,47900.0,Metropolitan Statistical Area,Alexandria,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16050981,2017-10-31,20001,448100.0,632800.0,47900.0,47900.0,237600.0,385400.0,47900.0,Metropolitan Statistical Area,Arlington,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16050982,2017-10-31,20001,448100.0,632800.0,47900.0,47900.0,237600.0,385400.0,47900.0,Metropolitan Statistical Area,Reston,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16118064,2017-11-30,20001,448000.0,631700.0,47900.0,47900.0,238100.0,385500.0,47900.0,Metropolitan Statistical Area,Washington,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16118065,2017-11-30,20001,448000.0,631700.0,47900.0,47900.0,238100.0,385500.0,47900.0,Metropolitan Statistical Area,Bethesda,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16118066,2017-11-30,20001,448000.0,631700.0,47900.0,47900.0,238100.0,385500.0,47900.0,Metropolitan Statistical Area,Frederick,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16118067,2017-11-30,20001,448000.0,631700.0,47900.0,47900.0,238100.0,385500.0,47900.0,Metropolitan Statistical Area,Gaithersburg,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16118068,2017-11-30,20001,448000.0,631700.0,47900.0,47900.0,238100.0,385500.0,47900.0,Metropolitan Statistical Area,Rockville,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16118069,2017-11-30,20001,448000.0,631700.0,47900.0,47900.0,238100.0,385500.0,47900.0,Metropolitan Statistical Area,Alexandria,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16118070,2017-11-30,20001,448000.0,631700.0,47900.0,47900.0,238100.0,385500.0,47900.0,Metropolitan Statistical Area,Arlington,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16118071,2017-11-30,20001,448000.0,631700.0,47900.0,47900.0,238100.0,385500.0,47900.0,Metropolitan Statistical Area,Reston,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16185153,2017-12-31,20001,448600.0,631900.0,47900.0,47900.0,238700.0,385500.0,47900.0,Metropolitan Statistical Area,Washington,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16185154,2017-12-31,20001,448600.0,631900.0,47900.0,47900.0,238700.0,385500.0,47900.0,Metropolitan Statistical Area,Bethesda,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16185155,2017-12-31,20001,448600.0,631900.0,47900.0,47900.0,238700.0,385500.0,47900.0,Metropolitan Statistical Area,Frederick,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16185156,2017-12-31,20001,448600.0,631900.0,47900.0,47900.0,238700.0,385500.0,47900.0,Metropolitan Statistical Area,Gaithersburg,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16185157,2017-12-31,20001,448600.0,631900.0,47900.0,47900.0,238700.0,385500.0,47900.0,Metropolitan Statistical Area,Rockville,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16185158,2017-12-31,20001,448600.0,631900.0,47900.0,47900.0,238700.0,385500.0,47900.0,Metropolitan Statistical Area,Alexandria,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16185159,2017-12-31,20001,448600.0,631900.0,47900.0,47900.0,238700.0,385500.0,47900.0,Metropolitan Statistical Area,Arlington,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0
16185160,2017-12-31,20001,448600.0,631900.0,47900.0,47900.0,238700.0,385500.0,47900.0,Metropolitan Statistical Area,Reston,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0

In [47]:
unique_zip = merged_zip_df['RegionName_zip'].unique()

In [48]:
len(unique_zip)

19106

In [49]:
unique_metro = merged_zip_df['CBSA Title'].unique()

In [50]:
len(unique_metro)

923

In [51]:
merged_zip_df[merged_zip_df['RegionName_zip']==49445]

,Date,RegionName_zip,ZHVI_BottomTier_zip,ZHVI_MiddleTier_zip,cbsa,RegionName_metro,ZHVI_BottomTier_metro,ZHVI_MiddleTier_metro,CBSA Code,Metropolitan/Micropolitan Statistical Area,Principal City Name,CBSA Title,eligible_gentrification
27015,1996-04-30,49445,50900.0,75700.0,34740.0,34740.0,37100.0,61500.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
80235,1996-05-31,49445,52000.0,77700.0,34740.0,34740.0,36600.0,62700.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
133834,1996-06-30,49445,53200.0,79200.0,34740.0,34740.0,36500.0,63800.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
187576,1996-07-31,49445,54900.0,80500.0,34740.0,34740.0,36500.0,64700.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
241318,1996-08-31,49445,56200.0,81800.0,34740.0,34740.0,36500.0,65300.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
295126,1996-09-30,49445,56800.0,82900.0,34740.0,34740.0,36500.0,65800.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
348934,1996-10-31,49445,57100.0,83900.0,34740.0,34740.0,36500.0,66400.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
402892,1996-11-30,49445,57500.0,85000.0,34740.0,34740.0,36500.0,66900.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
456850,1996-12-31,49445,57500.0,85800.0,34740.0,34740.0,36600.0,67300.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
510808,1997-01-31,49445,58000.0,86700.0,34740.0,34740.0,36800.0,67900.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
566600,1997-02-28,49445,59100.0,88000.0,34740.0,34740.0,37100.0,68900.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
624042,1997-03-31,49445,60400.0,89400.0,34740.0,34740.0,37500.0,69900.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
681748,1997-04-30,49445,61100.0,90400.0,34740.0,34740.0,37900.0,70600.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
739455,1997-05-31,49445,61600.0,91400.0,34740.0,34740.0,38400.0,71100.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
797159,1997-06-30,49445,62200.0,92000.0,34740.0,34740.0,38700.0,71700.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
854867,1997-07-31,49445,62900.0,92400.0,34740.0,34740.0,38900.0,72200.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
912827,1997-08-31,49445,63400.0,92800.0,34740.0,34740.0,39100.0,72500.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
970963,1997-09-30,49445,63600.0,93500.0,34740.0,34740.0,39300.0,72800.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
1029110,1997-10-31,49445,64100.0,93800.0,34740.0,34740.0,39600.0,73100.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
1087276,1997-11-30,49445,64800.0,94100.0,34740.0,34740.0,39800.0,73500.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
1145441,1997-12-31,49445,65400.0,94700.0,34740.0,34740.0,40000.0,73800.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
1203621,1998-01-31,49445,65900.0,95400.0,34740.0,34740.0,40000.0,74200.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
1262032,1998-02-28,49445,66200.0,95600.0,34740.0,34740.0,40000.0,74700.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
1320650,1998-03-31,49445,66400.0,95300.0,34740.0,34740.0,40100.0,75000.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
1379330,1998-04-30,49445,66500.0,94700.0,34740.0,34740.0,40500.0,75000.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
1438050,1998-05-31,49445,66600.0,94500.0,34740.0,34740.0,40600.0,74900.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
1496913,1998-06-30,49445,66700.0,94800.0,34740.0,34740.0,40800.0,75100.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
1555801,1998-07-31,49445,66600.0,95300.0,34740.0,34740.0,41300.0,75600.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
1614777,1998-08-31,49445,66800.0,95500.0,34740.0,34740.0,41700.0,76200.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
1673790,1998-09-30,49445,67500.0,95800.0,34740.0,34740.0,42000.0,76900.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14262628,2015-07-31,49445,78200.0,115500.0,34740.0,34740.0,47600.0,91600.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
14329536,2015-08-31,49445,79500.0,116400.0,34740.0,34740.0,48000.0,92300.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
14396448,2015-09-30,49445,80200.0,117300.0,34740.0,34740.0,48300.0,93000.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
14463365,2015-10-31,49445,80500.0,117700.0,34740.0,34740.0,48600.0,93400.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
14530283,2015-11-30,49445,80700.0,118100.0,34740.0,34740.0,49100.0,94200.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
14597209,2015-12-31,49445,80800.0,118800.0,34740.0,34740.0,49500.0,95200.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
14664143,2016-01-31,49445,81200.0,119600.0,34740.0,34740.0,49700.0,95900.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
14731081,2016-02-29,49445,82500.0,120700.0,34740.0,34740.0,50000.0,96700.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
14798032,2016-03-31,49445,84200.0,122100.0,34740.0,34740.0,50700.0,97600.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
14864995,2016-04-30,49445,85500.0,123400.0,34740.0,34740.0,51300.0,98400.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
14931977,2016-05-31,49445,86000.0,124300.0,34740.0,34740.0,51700.0,99500.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
14998973,2016-06-30,49445,86200.0,125100.0,34740.0,34740.0,51700.0,101200.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
15065974,2016-07-31,49445,86400.0,126100.0,34740.0,34740.0,51700.0,102900.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
15132986,2016-08-31,49445,86800.0,127400.0,34740.0,34740.0,52300.0,104600.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
15200019,2016-09-30,49445,87200.0,129100.0,34740.0,34740.0,53000.0,105900.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
15267057,2016-10-31,49445,87600.0,130800.0,34740.0,34740.0,53300.0,106800.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
15334097,2016-11-30,49445,88200.0,132100.0,34740.0,34740.0,53300.0,107500.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
15401143,2016-12-31,49445,88800.0,132800.0,34740.0,34740.0,53500.0,108100.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
15468217,2017-01-31,49445,89000.0,132800.0,34740.0,34740.0,53800.0,108800.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
15535306,2017-02-28,49445,89200.0,132900.0,34740.0,34740.0,54400.0,109600.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
15602395,2017-03-31,49445,89500.0,133700.0,34740.0,34740.0,54900.0,110200.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
15669484,2017-04-30,49445,89800.0,134800.0,34740.0,34740.0,55600.0,110600.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
15736573,2017-05-31,49445,90700.0,135600.0,34740.0,34740.0,56400.0,110900.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
15803662,2017-06-30,49445,92300.0,136400.0,34740.0,34740.0,57200.0,111600.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
15870751,2017-07-31,49445,93700.0,137100.0,34740.0,34740.0,58100.0,112300.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
15937840,2017-08-31,49445,94400.0,137200.0,34740.0,34740.0,58800.0,112600.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
16004929,2017-09-30,49445,94600.0,137500.0,34740.0,34740.0,58800.0,112900.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
16072018,2017-10-31,49445,95200.0,137900.0,34740.0,34740.0,58500.0,113300.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
16139107,2017-11-30,49445,96300.0,137800.0,34740.0,34740.0,58800.0,113600.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0
16206196,2017-12-31,49445,96900.0,137700.0,34740.0,34740.0,59000.0,113900.0,34740.0,Metropolitan Statistical Area,Muskegon,"Muskegon, MI",0

Functions: put in a zip code, identify whether the zip code is gentrified

Start extracting features next week

In [52]:
year_lst = ['2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010', '2009']

In [53]:
api_key = 'a07763483ec014d642e7af88094ea8fa2d2b949d'

In [54]:
cbsa_code_lst = merged_zip_df['CBSA Code'].unique()

In [55]:
# for ele in cbsa_code_lst[:10]:
#     print(int(ele))

In [56]:
# get information about median income, education, and population per cbsa area
def get_cbsa_data(cbsa_code_lst, year_lst, api_key):
    cbsa_data_df = pd.DataFrame(columns=['Median Income', 'Education', 'Population', 'Name', 'cbsa', 'year'])
    for year in year_lst:
        count = 0
        print('-'*25, year, '-'*25)
        for cbsa_code in cbsa_code_lst:
            count += 1
            print(count)
            try:
                temp_df = pd.read_json('https://api.census.gov/data/'+year+'/acs/acs5?get=B19013_001E,B15003_022E,B01003_001E,NAME&for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:'
                                       +str(int(cbsa_code))
                                       +'&key='+api_key).drop(0)
                temp_df.columns=['Median Income', 'Education', 'Population', 'Name', 'cbsa']
                temp_df['year']=year
                cbsa_data_df = cbsa_data_df.append(temp_df)
            except:
                pass
    return cbsa_data_df

In [57]:
# cbsa_data_df = get_cbsa_data(cbsa_code_lst, year_lst, api_key)

In [58]:
# cbsa_data_df

In [59]:
# cbsa_data_df.to_csv('acs_data/cbsa_data.csv', index=False)

In [60]:
zcta_code_lst = merged_zip_df['RegionName_zip'].unique()

In [61]:
len(zcta_code_lst)

19106

In [62]:
# get information about median income, education, and population per zcta area
def get_zip_data(zcta_code_lst, year_lst, api_key):
    zcta_data_df = pd.DataFrame(columns=['Median Income', 'Education', 'Population', 'Name', 'zip', 'year'])
    for year in year_lst:
        count = 0
        print('-'*25, year, '-'*25)
        for zcta_code in zcta_code_lst:
            if len(str(zcta_code)) < 5:
                zcta_code = '0'*(5-len(str(zcta_code)))+str(zcta_code)
            count += 1
            print(count)
            try:
                temp_df = pd.read_json('https://api.census.gov/data/'+year+'/acs/acs5?get=B19013_001E,B15003_022E,B01003_001E,NAME&for=zip%20code%20tabulation%20area:'
                                       +str(zcta_code)
                                       +'&key='+api_key).drop(0)
                temp_df.columns=['Median Income', 'Education', 'Population', 'Name', 'zip']
                temp_df['year']=year
                zcta_data_df = zcta_data_df.append(temp_df)
            except:
                pass
    return zcta_data_df

In [63]:
# zcta_data_df = get_zip_data(zcta_code_lst, year_lst, api_key)

In [64]:
# zcta_data_df

In [65]:
# zcta_data_df.to_csv('acs_data/zip_data_2014.csv', index=False)

### Merge ACS Data with Zillow Data

In [66]:
acs_zip_df = pd.read_csv('acs_data/zip_data_2017.csv')

In [67]:
for year in year_lst[1:]:
    try:
        acs_zip_df = acs_zip_df.append(pd.read_csv('acs_data/zip_data_'+year+'.csv'))
    except:
        pass

In [136]:
acs_zip_df.head()

   Median Income Education Population         Name     zip  year
0        57694.0      2397      17537  ZCTA5 01001  1001.0  2017
1        52379.0      3405      30280  ZCTA5 01002  1002.0  2017
2        70325.0       547       5014  ZCTA5 01005  1005.0  2017
3        86165.0      2423      14906  ZCTA5 01007  1007.0  2017
4        62750.0       169       1272  ZCTA5 01008  1008.0  2017

In [68]:
acs_cbsa_df = pd.read_csv('acs_data/cbsa_data.csv')

In [71]:
merged_zip_df['year'] = cleaned_zip_df['Date'].map(lambda x: x[:4])

In [72]:
acs_cbsa_df['year'] = acs_cbsa_df['year'].astype(str)
acs_cbsa_df['cbsa'] = acs_cbsa_df['cbsa'].astype(float)
merged_zip_df['cbsa'] = merged_zip_df['cbsa'].astype(float)
merged_zip_df['year'] = merged_zip_df['year'].astype(str)

In [73]:
acs_cbsa_df.head()

,Median Income,Education,Population,Name,cbsa,year
0,55306,71764,630385,"Springfield, MA Metro Area",44140.0,2017
1,68311,132763,934923,"Worcester, MA-CT Metro Area",49340.0,2017
2,55190,16997,127751,"Pittsfield, MA Metro Area",38340.0,2017
3,81838,844067,4771936,"Boston-Cambridge-Newton, MA-NH Metro Area",14460.0,2017
4,61536,211070,1613154,"Providence-Warwick, RI-MA Metro Area",39300.0,2017

In [74]:
merged_zip_df.head()

,Date,RegionName_zip,ZHVI_BottomTier_zip,ZHVI_MiddleTier_zip,cbsa,RegionName_metro,ZHVI_BottomTier_metro,ZHVI_MiddleTier_metro,CBSA Code,Metropolitan/Micropolitan Statistical Area,Principal City Name,CBSA Title,eligible_gentrification,year
0,1996-04-30,1001,68700.0,101900.0,44140.0,44140.0,70600.0,101500.0,44140.0,Metropolitan Statistical Area,Springfield,"Springfield, MA",0,1996
1,1996-04-30,1002,97000.0,135200.0,44140.0,44140.0,70600.0,101500.0,44140.0,Metropolitan Statistical Area,Springfield,"Springfield, MA",0,1996
2,1996-04-30,1002,97000.0,135200.0,24640.0,24640.0,71300.0,98200.0,NaN,NaN,NaN,NaN,0,1996
3,1996-04-30,1005,85400.0,101200.0,49340.0,49340.0,80000.0,112100.0,49340.0,Metropolitan Statistical Area,Worcester,"Worcester, MA-CT",1,1996
4,1996-04-30,1007,97900.0,124000.0,44140.0,44140.0,70600.0,101500.0,44140.0,Metropolitan Statistical Area,Springfield,"Springfield, MA",0,1996

In [75]:
merged_zip_df = merged_zip_df.merge(acs_cbsa_df, how='left', on=['cbsa', 'year'],
                                   suffixes=('_zillow', '_acs'))

In [76]:
merged_zip_df.tail()

,Date,RegionName_zip,ZHVI_BottomTier_zip,ZHVI_MiddleTier_zip,cbsa,RegionName_metro,ZHVI_BottomTier_metro,ZHVI_MiddleTier_metro,CBSA Code,Metropolitan/Micropolitan Statistical Area,Principal City Name,CBSA Title,eligible_gentrification,year,Median Income,Education,Population,Name
16239498,2017-12-31,99709,176200.0,239600.0,21820.0,21820.0,163300.0,224400.0,21820.0,Metropolitan Statistical Area,Fairbanks,"Fairbanks, AK",0,nan,NaN,NaN,NaN,NaN
16239499,2017-12-31,99712,178700.0,255900.0,21820.0,21820.0,163300.0,224400.0,21820.0,Metropolitan Statistical Area,Fairbanks,"Fairbanks, AK",0,nan,NaN,NaN,NaN,NaN
16239500,2017-12-31,99801,268100.0,342600.0,27940.0,27940.0,254600.0,337900.0,27940.0,Micropolitan Statistical Area,Juneau,"Juneau, AK",0,nan,NaN,NaN,NaN,NaN
16239501,2017-12-31,99835,NaN,NaN,99999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,nan,NaN,NaN,NaN,NaN
16239502,2017-12-31,99901,167500.0,249500.0,28540.0,28540.0,168900.0,250100.0,28540.0,Micropolitan Statistical Area,Ketchikan,"Ketchikan, AK",1,nan,NaN,NaN,NaN,NaN

In [79]:
acs_zip_df['year'] = acs_zip_df['year'].astype(str)
acs_zip_df['zip'] = acs_zip_df['zip'].astype(float)
merged_zip_df['RegionName_zip'] = merged_zip_df['RegionName_zip'].astype(float)

In [80]:
merged_zip_df = merged_zip_df.merge(acs_zip_df, how='left', left_on=['RegionName_zip', 'year'], right_on=['zip', 'year'],
                                   suffixes=('_acs_cbsa', '_acs_zip'))

In [81]:
merged_zip_df.head()

,Date,RegionName_zip,ZHVI_BottomTier_zip,ZHVI_MiddleTier_zip,cbsa,RegionName_metro,ZHVI_BottomTier_metro,ZHVI_MiddleTier_metro,CBSA Code,Metropolitan/Micropolitan Statistical Area,...,year,Median Income_acs_cbsa,Education_acs_cbsa,Population_acs_cbsa,Name_acs_cbsa,Median Income_acs_zip,Education_acs_zip,Population_acs_zip,Name_acs_zip,zip
0,1996-04-30,1001.0,68700.0,101900.0,44140.0,44140.0,70600.0,101500.0,44140.0,Metropolitan Statistical Area,...,1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1996-04-30,1002.0,97000.0,135200.0,44140.0,44140.0,70600.0,101500.0,44140.0,Metropolitan Statistical Area,...,1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1996-04-30,1002.0,97000.0,135200.0,24640.0,24640.0,71300.0,98200.0,NaN,NaN,...,1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1996-04-30,1005.0,85400.0,101200.0,49340.0,49340.0,80000.0,112100.0,49340.0,Metropolitan Statistical Area,...,1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1996-04-30,1007.0,97900.0,124000.0,44140.0,44140.0,70600.0,101500.0,44140.0,Metropolitan Statistical Area,...,1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
merged_zip_df['Education_acs_zip'].value_counts()

154      1095
262      1027
161       966
163       956
146       945
153       927
185       925
194       916
172       916
151       907
139       904
115       901
178       900
111       898
177       895
152       892
150       889
140       886
186       880
190       876
275       874
138       868
162       866
255       852
133       851
165       850
147       839
270       834
310       831
156       830
         ...
9503        3
10823       3
6448        3
12290       3
9690        3
10553       3
5974        3
7621        3
8658        3
5861        3
14119       3
11064       3
8427        3
7065        3
7611        3
8969        3
6548        3
5525        3
8117        3
8572        3
8387        3
10524       3
12047       3
8310        3
7903        3
10930       3
11025       3
7066        3
8489        3
9663        3
Name: Education_acs_zip, Length: 10438, dtype: int64

In [89]:
merged_zip_df.shape

(16239503, 23)

In [137]:
merged_zip_df.columns

Index(['Date', 'RegionName_zip', 'ZHVI_BottomTier_zip', 'ZHVI_MiddleTier_zip',
       'cbsa', 'RegionName_metro', 'ZHVI_BottomTier_metro',
       'ZHVI_MiddleTier_metro', 'CBSA Code',
       'Metropolitan/Micropolitan Statistical Area', 'Principal City Name',
       'CBSA Title', 'eligible_gentrification', 'year',
       'Median Income_acs_cbsa', 'Education_acs_cbsa', 'Population_acs_cbsa',
       'Name_acs_cbsa', 'Median Income_acs_zip', 'Education_acs_zip',
       'Population_acs_zip', 'Name_acs_zip', 'zip'],
      dtype='object')

In [140]:
merged_zip_df['Education_acs_zip'] = merged_zip_df['Education_acs_zip'].astype(float)

In [212]:
merged_zip_df['Population_acs_zip'] = merged_zip_df['Population_acs_zip'].astype(float)

In [213]:
merged_zip_df['Population_acs_cbsa'] = merged_zip_df['Population_acs_cbsa'].astype(float)

In [214]:
grouped_df = merged_zip_df.groupby(['year', 'RegionName_zip']).mean().reset_index()

In [215]:
grouped_df.shape

(351551, 17)

In [216]:
grouped_df.tail()

,year,RegionName_zip,ZHVI_BottomTier_zip,ZHVI_MiddleTier_zip,cbsa,RegionName_metro,ZHVI_BottomTier_metro,ZHVI_MiddleTier_metro,CBSA Code,eligible_gentrification,Median Income_acs_cbsa,Education_acs_cbsa,Population_acs_cbsa,Median Income_acs_zip,Education_acs_zip,Population_acs_zip,zip
351546,nan,99709.0,164154.838710,217301.075269,21820.0,21820.0,159174.336283,207333.870968,21820.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
351547,nan,99712.0,171044.247788,227937.096774,21820.0,21820.0,159174.336283,207333.870968,21820.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
351548,nan,99801.0,235574.193548,301613.978495,27940.0,27940.0,238434.567901,296967.741935,27940.0,0.048387,NaN,NaN,NaN,NaN,NaN,NaN,NaN
351549,nan,99835.0,NaN,NaN,99999.0,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
351550,nan,99901.0,154452.688172,223785.483871,28540.0,28540.0,154829.032258,223833.333333,28540.0,0.908602,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [232]:

cleaned_grouped_df = grouped_df[(grouped_df['year']!='nan')].dropna(subset=['ZHVI_MiddleTier_zip',
                                                                            'ZHVI_MiddleTier_metro',
                                                                           'Median Income_acs_zip',
                                                                           'Median Income_acs_cbsa',
                                                                           'Education_acs_zip',
                                                                           'Education_acs_cbsa',
                                                                           'Population_acs_zip',
                                                                           'Population_acs_cbsa'])

In [233]:
cleaned_grouped_df = cleaned_grouped_df[['year','RegionName_zip','ZHVI_MiddleTier_zip', 'ZHVI_MiddleTier_metro', 'Median Income_acs_zip',
                   'Median Income_acs_cbsa', 'Education_acs_zip', 'Education_acs_cbsa', 'cbsa', 'eligible_gentrification',
                                        'Population_acs_zip', 'Population_acs_cbsa']]

In [242]:
cleaned_grouped_df['Education_pct_zip'] = cleaned_grouped_df['Education_acs_zip']/cleaned_grouped_df['Population_acs_zip']

In [247]:
cleaned_grouped_df['Education_pct_cbsa'] = cleaned_grouped_df['Education_acs_cbsa']/cleaned_grouped_df['Population_acs_cbsa']

In [248]:
cleaned_grouped_df.shape

(72036, 14)

In [249]:
cleaned_grouped_df.columns

Index(['year', 'RegionName_zip', 'ZHVI_MiddleTier_zip',
       'ZHVI_MiddleTier_metro', 'Median Income_acs_zip',
       'Median Income_acs_cbsa', 'Education_acs_zip', 'Education_acs_cbsa',
       'cbsa', 'eligible_gentrification', 'Population_acs_zip',
       'Population_acs_cbsa', 'Education_pct_zip', 'Education_pct_cbsa'],
      dtype='object')

In [250]:
cleaned_grouped_df.tail()

,year,RegionName_zip,ZHVI_MiddleTier_zip,ZHVI_MiddleTier_metro,Median Income_acs_zip,Median Income_acs_cbsa,Education_acs_zip,Education_acs_cbsa,cbsa,eligible_gentrification,Population_acs_zip,Population_acs_cbsa,Education_pct_zip,Education_pct_cbsa
332443,2017,99705.0,151325.0,152775.0,81045.0,76250.0,2492.0,12885.0,21820.0,1,22804.0,100031.0,0.109279,0.128810
332444,2017,99709.0,158300.0,152775.0,84175.0,76250.0,5117.0,12885.0,21820.0,1,31767.0,100031.0,0.161079,0.128810
332445,2017,99712.0,169450.0,152775.0,86503.0,76250.0,2238.0,12885.0,21820.0,1,13918.0,100031.0,0.160799,0.128810
332446,2017,99801.0,210925.0,199575.0,91743.0,90749.0,5351.0,5832.0,27940.0,1,30179.0,32434.0,0.177309,0.179811
332447,2017,99901.0,221900.0,221925.0,67321.0,67321.0,1534.0,1534.0,28540.0,1,13768.0,13745.0,0.111418,0.111604

In [237]:
cleaned_grouped_df['year'].value_counts()

2016    12168
2017    12158
2015    12144
2014    12008
2013    12007
2012    11551
Name: year, dtype: int64

In [272]:
cleaned_grouped_df['eligible_gentrification']=1

In [273]:

cleaned_grouped_df['eligible_gentrification'] = cleaned_grouped_df['eligible_gentrification'].where((cleaned_grouped_df['ZHVI_MiddleTier_zip']<cleaned_grouped_df['ZHVI_MiddleTier_metro'])
                                                                                                    &(cleaned_grouped_df['Median Income_acs_zip']<cleaned_grouped_df['Median Income_acs_cbsa'])
                                                                                                    &(cleaned_grouped_df['Education_pct_zip']<cleaned_grouped_df['Education_pct_cbsa']), 0)

In [274]:
cleaned_grouped_df.shape

(72036, 14)

In [276]:
cleaned_grouped_df['RegionName_zip'] = cleaned_grouped_df['RegionName_zip'].astype(int)

In [304]:
cleaned_grouped_df[cleaned_grouped_df['RegionName_zip']==49444]

,year,RegionName_zip,ZHVI_MiddleTier_zip,ZHVI_MiddleTier_metro,Median Income_acs_zip,Median Income_acs_cbsa,Education_acs_zip,Education_acs_cbsa,cbsa,eligible_gentrification,Population_acs_zip,Population_acs_cbsa,Education_pct_zip,Education_pct_cbsa
248252,2012,49444,56050.0,88175.000000,29724.0,40843.0,1179.0,12807.0,34740.0,1,26882.0,171755.0,0.043858,0.074566
263763,2013,49444,58025.0,89800.000000,29588.0,40979.0,1274.0,13440.0,34740.0,1,27091.0,171153.0,0.047027,0.078526
279310,2014,49444,60500.0,91475.000000,33707.0,41842.0,1319.0,13657.0,34740.0,1,27796.0,171328.0,0.047453,0.079713
294876,2015,49444,61000.0,91433.333333,34115.0,42829.0,1493.0,14528.0,34740.0,1,29205.0,171483.0,0.051121,0.084720
310465,2016,49444,61175.0,91825.000000,35460.0,43920.0,1579.0,14389.0,34740.0,1,29178.0,172148.0,0.054116,0.083585
326044,2017,49444,61400.0,92375.000000,37971.0,46077.0,1545.0,14978.0,34740.0,1,29550.0,172707.0,0.052284,0.086725

In [299]:
cleaned_grouped_df.to_csv('gentrification_eligibility.csv')